#topnav{
	position: absolute;
	right: 10px;
	bottom: 20px;
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	font-family: Arial;
	text-transform: uppercase;
}
#topnav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#topnav li{
	padding: 2px 0;
}
#topnav a {
	color: #FFF;
	text-decoration: none;
}

.login label{
	float: left;
	text-indent: -9999px;
	width: 138px;
	padding: 0;
	margin-right: 20px;
}
.login #username label{
	background: url(../img/label_squadronNumber.png) no-repeat right center;
}
.login #password label{
	background: url(../img/label_password.png) no-repeat right center;
}
.login #username, 
.login #password{
	margin-bottom: 7px;
}
.login #username input, 
.login #password input{
	width: 230px;
	font-size: 11px;
	padding: 1px;
	margin: 1px 0;
}
.login input.login{
	width: 56px;
	height: 24px;
	border: 0 none;
	padding: 0;
	margin: 7px 0 0 343px;
}
.login a{
	color: #BFBFBF;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	margin-left: 20px;
}
h2.please-log-in span{
	background: url(../img/please_log_in.png) no-repeat left top;
	width: 140px;
	height: 12px;
	display: block;
	text-indent: -9999px;
}
#UserForgotpasswordForm{
	width: auto;
}
.forgot-password label{
	float: left;
	text-indent: -9999px;
	width: 138px;
	padding: 0;
	margin-right: 20px;
}
.forgot-password #email label{
	background: url(../img/label_email-address.png) no-repeat right center;
}
.forgot-password #email{
	margin-bottom: 7px;
}
.forgot-password #email input{
	width: 230px;
	font-size: 11px;
	padding: 1px;
	margin: 1px 0;
}
.forgot-password input.submit{
	margin: 7px 0 0 331px;
	clear: both;
}
.forgot-password div.error-message{
	clear: none;
	display: inline;
}
h2.enter-email span{
	background: url(../img/enter_email_address.png) no-repeat left top;
	width: 730px;
	height: 12px;
	display: block;
	text-indent: -9999px;
}
.categories-nav,
.categories-nav div{
	float: left;
	clear: both;
}
ul.categories,
ul.categories ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.categories li{
	float: left;
	display: block;
	margin: 0px;
	padding: 0;
}
ul.categories li div{
	width: 175px;
	height: 225px;
	cursor: pointer;
}
ul.categories li > div{
	margin: 23px 23px 0 0;
	color: #FFF;
	background: #4D4D4E;
}
ul.categories li.last > div{
	margin-right: 0;
}
ul.categories li > div.selected .imageOverlay{
	background: url(../img/btn-large-on.png);
}
ul.categories li > div.notSelected .imageOverlay{
	background: url(../img/btn-large-off.png);
}
ul.categories li div .name{
	text-indent: -9999px;
}

.level ul.categories li ul{
	height: 50px;
}
.level ul.categories li div{
	height: 50px;
}
.level ul.categories li .image{
	background-image: none;
	background: #4D4D4E;
}
.level ul.categories li .name{
}

.level ul.categories li > div.selected .imageOverlay{
	background: url(../img/btn-small-on.png);
}
.level ul.categories li > div.notSelected .imageOverlay{
	background: url(../img/btn-small-off.png);
}

.enlisted .name{
	background: url(../img/categories/names/btn-text-enlisted.png) no-repeat;
}
.directmaillists .name{
	background: url(../img/categories/names/btn-text-direct_mail_lists.png) no-repeat;
}
.healthcare .name{
	background: url(../img/categories/names/btn-text-healthcare.png) no-repeat;
}
.logosignage .name{
	background: url(../img/categories/names/btn-text-logo_signage.png) no-repeat;
}
.benefits .name{
	background: url(../img/categories/names/btn-text-benefits.png) no-repeat;
}
.afwings .name{
	background: url(../img/categories/names/btn-text-af_wings.png) no-repeat;
}
.airforcecom .name{
	background: url(../img/categories/names/btn-text-airforcecom.png) no-repeat;
}
.billboard .name{
	background: url(../img/categories/names/btn-text-billboard.png) no-repeat;
}
.bsc .name{
	background: url(../img/categories/names/btn-text-bsc.png) no-repeat;
}
.careers .name{
	background: url(../img/categories/names/btn-text-careers.png) no-repeat;
}
.dentist .name{
	background: url(../img/categories/names/btn-text-dentist.png) no-repeat;
}
.diversity .name{
	background: url(../img/categories/names/btn-text-diversity.png) no-repeat;
}
.education .name{
	background: url(../img/categories/names/btn-text-education.png) no-repeat;
}
.general .name{
	background: url(../img/categories/names/btn-text-general.png) no-repeat;
}
.msc .name{
	background: url(../img/categories/names/btn-text-msc.png) no-repeat;
}
.nurse .name{
	background: url(../img/categories/names/btn-text-nurse.png) no-repeat;
}
.officer .name{
	background: url(../img/categories/names/btn-text-officer.png) no-repeat;
}
.physician .name{
	background: url(../img/categories/names/btn-text-physician.png) no-repeat;
}
.technical .name{
	background: url(../img/categories/names/btn-text-technical.png) no-repeat;
}
.mechanical .name{
	background: url(../img/categories/names/btn-text-mechanical.png) no-repeat;
}
.print .name{
	background: url(../img/categories/names/btn-text-print.png) no-repeat;
}
.digital .name{
	background: url(../img/categories/names/btn-text-digital.png) no-repeat;
}
.blueonwhite .name{
	background: url(../img/categories/names/btn-text-blueonwhite.png) no-repeat;
}
.whiteonblue .name{
	background: url(../img/categories/names/btn-text-whiteonblue.png) no-repeat;
}




.enlisted .image{
	background: url(../img/categories/images/img-enlisted.jpg) no-repeat;
}
.directmaillists .image{
	background: url(../img/categories/images/img-direct_mail_lists.jpg) no-repeat;
}
.healthcare .image{
	background: url(../img/categories/images/img-healthcare.jpg) no-repeat;
}
.logosignage .image{
	background: url(../img/categories/images/img-logo_signage.jpg) no-repeat;
}
.officer .image{
	background: url(../img/categories/images/img-officer.jpg) no-repeat;
}

#ads-listing{
	float: left;
	clear: both;
}
#ad-listing{
	float: left;
	clear: both;
	border-top: 1px solid #252525;
	margin-top: 23px;
	width: 967px;
}
#ad-listing ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#ad-listing li{
	float: left;
	display: block;
	margin: 0px;
	padding: 0;
}
#ad-listing li div{
	width: 175px;
	height: 225px;
	margin: 23px 23px 0 0;
	text-align: center;
}
#ad-listing li div.close{
	width: auto;
	height: auto;
	margin: 0;
}

#overlay{
	background: #000000;
	border: 1px solid #FFF;
	position: absolute;
	overflow: hidden;
}
#overlay .wrap{
	padding: 5px;
}
#ad-view .content{
	color: #FFF;
	text-align: center;
}
#ad-view .content p{
	padding: 5px 10px 0 10px;
}
#ad-view .content a{
	color: #FFF;
}
#ad-view ul{
	list-style: none;
	margin: 10px auto;
	padding: 0;
	text-align: center;
}
#ad-view li{
	display:inline;
}
#ad-view li a{
	padding: 0 5px;
	color: #FFF;
}

form input.submit{
	width:68px;
	height: 24px;
	border: 0 none;
	padding: 0;
}