﻿* {
	margin:0; padding:0;
    top: 0px;
    left: 0px;

}

body
{
	/*background: #003d4c;*/
	font-family: 'lucida grande' ,verdana,helvetica,arial,sans-serif;
	color: #fff;	
	margin: 0;
	background: url(background3.jpg) black no-repeat center top;
}

/*html, input, textarea
	{
		font-family:Arial, Helvetica, sans serif; 
		font-size:12px;
		line-height:17px;
		color:#868686;		
	}*/



a:hover{text-decoration:none;}


a img { border:0;}
img {vertical-align:bottom;}
ul
{
	list-style-position: inside;
	list-style-type: disc;
}

.left{
	float: left;
	clear: left;
	display: inline;
}
.right
{
	float: right;
	clear: right;
	display: inline;
}

.clear  { clear:both;}


#main {width:738px; margin:0 auto;}

#header
{
	height: 55px;
	margin: 4px 1% 0px;
}
#header_tall {background:url(header_tall.gif) top repeat-x;}

#footer
{
	height: 40px;
	clear: both;
	display: block;
	float: none;
	margin-left: 2%;
	margin-right: 2%;
}



#content
{
	/*float: left;*/
	float: none;
	width: 70%; /*width: 70%;*/
	margin-left: 2%;
}

#content_onecol
{
	float: left;
	width: 95%; /*width: 70%;*/
	margin-left: 2%;
}

#content-side
{
	width: 20%; /*width:200px;*/
	float: right;
	margin-right: 1%;
}

DIV .content-side
{
	width: 20%; /*width:200px;*/
	float: right;
	margin-right: 1%;
}

DIV .RedBar
{
	background-color: #cc0000;
	width: 100%;
	float: none;
	height: 6px;
	clear: both;
	margin-bottom: 5px;
}

/*GRIDS and LISTS**********************************************/


.listHeader
{
    font-weight: bold;
    color: white;
    background-color: #525463;
    padding-left: 5px;
}

.listRow
{
	color: #333333;
	background-color: silver; /*background-color: #e7e7e6;*/
	border-bottom: silver thin solid;
}


.listAltRow
{
    color: #284775;
    background-color: white;
    border-bottom: silver thin solid;
}

.listEditRow
{
    background-color: #ECE9D8;
    border-bottom: #bebebe thin solid;
}

.listSelectedRow
{
    background-color: #ded6d0;
    font-weight: bold;
}

 .listPager
{
    font-weight: bold;
    color: white;
    font-family: Sans-Serif;
    background-color: gray;
    text-align: center;
}

.listCommand
{
    font-weight: bold;
    color: white;
    font-family: Sans-Serif;
    background-color: gray;
    text-align: center;
}

.listHeader A
{
    color: white;
}
